# URL=https://someserver:8384
URL=https://USER:PASS@backup-svr:8384
APIKEY="SUPERSECRET"

# Enables curl's --insecure option where SSL certificates are 
# not verified against any CA. Use for self-signed certs.
INSECURE=1

