[localhost]
url=https://localhost:8384
apikey=SECRETSAUCE
# If set to 1 SSL certificates are not verified against any CA. 
# Use for self-signed certs like those that Syncthing uses by default.
insecure=True

[backup-server]
url=https://USER:PASSWORD@backup-server:8384
apikey=OBSCUREDRESSING
insecure=False


